<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}"
>
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
</head>
<body>
<section layout:fragment="content">
    <h1>[[${title}]]</h1>

    <a class="btn btn-primary mb-4 mt-2" th:href="@{/admin/flight/add}">
        Add
    </a>

    <div th:if="${msg}" class="alert alert-success text-center">
        [[${msg}]]
    </div>
    <div th:if="${err}" class="alert alert-danger text-center">
        [[${err}]]
    </div>

    <table class="table table-dark table-striped">
        <tr>
            <th>ID</th>
            <th>Tên chuyến bay</th>
            <th>Hãng bay</th>
            <th>Ngày bay</th>
            <th>Số lượng ghế</th>
            <th>Mô tả</th>
            <th>From</th>
            <th>To</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="flight : ${flightList}">
            <tr>
                <td>[[${flight.id}]]</td>
                <td>[[${flight.nameFlight}]]</td>
                <td>[[${flight.nameManufacturer}]]</td>
                <td>[[${flight.dateFlight}]]</td>
                <td>[[${flight.numberOfSeats}]]</td>
                <td>[[${flight.description}]]</td>
                <td>[[${flight.fromFlight}]]</td>
                <td>[[${flight.toFlight}]]</td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/admin/flight/edit/' + ${flight.id}}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/admin/flight/delete/' + ${flight.id}}">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>
</section>
</body>
</html>
