<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}"
>
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
</head>
<body>
<section layout:fragment="content">
    <h1>[[${title}]]</h1>

    <form th:action="@{/admin/ve-may-bay/create}" method="post" enctype="multipart/form-data">
        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Điểm khởi hành: </label>
            <div class="col-11">
                <input type="text" class="form-control" name="diemKhoiHanh" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Điểm kết thúc: </label>
            <div class="col-11">
                <input type="text" class="form-control" name="diemKetThuc" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Số người lớn: </label>
            <div class="col-11">
                <input type="text" class="form-control" name="soNgLon" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Số trẻ em: </label>
            <div class="col-11">
                <input type="text" class="form-control" name="soTreEm" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Ngày đi: </label>
            <div class="col-11">
                <input type="date" class="form-control" name="ngayDi" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Ngày về: </label>
            <div class="col-11">
                <input type="date" class="form-control" name="ngayVe" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Hạng vé: </label>
            <div class="col-11">
                <input type="text" class="form-control" name="hangVe" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Ngày đăng ký: </label>
            <div class="col-11">
                <input type="date" class="form-control" name="ngayDangKy" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Số hiệu chuyến bay đi: </label>
            <div class="col-11">
                <input type="text" class="form-control" name="soHieuChuyenBayDi" placeholder="Enter here...">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label class="col-1 col-form-label">Số hiệu chuyến bay về: </label>
            <div class="col-11">
                <input type="text" class="form-control" name="soHieuChuyenBayVe" placeholder="Enter here...">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="mt-4 btn btn-primary">Create</button>
        </div>
    </form>
    <br>
    <a th:href="@{./}">
        Back
    </a>
</section>
</body>
</html>
